<div>
		<div>
			<table height="600">
				<tbody>
					<tr>
						<td>
							<p><img src="../../../assets/obraz.jpg" alt="Sport1"/></p>
							<br>
							<br>
							<br>
							<br>
							<p><img src="../../../assets/obraz2.png" alt="Sport2"/></p>
							<br>
						</td>
						<td style="background-color: white">
							<h4>
								<form form action="/action_page.php" method="get" target="_blank"><div>
								<br><br>
								<p>Wypełnij poniższy formularz aby zapisać się na wybrane przez siebie wydarzenie</p>
								<br>
                Imie: <input type="text" name="firstname" placeholder="Jan" required/><br>
                Nazwisko: <input type="text" name="secondname" placeholder="Kowalski" required/><br>
                Adres e-mail: <input type="email" id="email" placeholder="jan.kowalski@poczta.pl" pattern="[^@\s]+@[^@\s]+" title="Invalid email address" required/><br>
                Numer kontaktowy: <input type="text" id="number" placeholder="601-102-203" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required/><br>
                Grupa krwi (np. A+) <input type="text" id="krew" placeholder="A+" required/><br>
                Numer wydarzenia: <input type="number" id="number1" placeholder="1" required/><br>
								<p>Podaj swoją płeć:</p>
								<input type="radio" name="Płeć" value="Kobieta" placeholder="K"/>Kobieta
								<input type="radio" name="Płeć" value="Mężczyzna" placeholder="M"/>Mężczyzna
								<br><br>
								<p>Ile masz lat?</p>
								<input type="radio" name="Wiek" value="mniej niż 15" placeholder="15"/>mniej niż 15<br>
								<input type="radio" name="Wiek" value="15-19" placeholder="19"/>15-19<br>
								<input type="radio" name="Wiek" value="20-29" placeholder="29"/>20-29<br>
								<input type="radio" name="Wiek" value="30-39" placeholder="39"/>30-39<br>
								<input type="radio" name="Wiek" value="40-60" placeholder="60"/>40-60<br>
								<input type="radio" name="Wiek" value="więcej niż 60" placeholder="61"/>więcej niż 60
								<br><br>
								<p>Ewentualne przeciwskania i inne informacje niezbędne do zweryfikowania przez lekarza:</p>
								<textarea name="Komentarz" cols="50" rows="10" placeholder="text"></textarea>
								<br><br><br>
								<input type="submit" onclick="return confirm('UWAGA! Potwierdź chęć zapisu na listę.')" value="Wyślij formularz*" class="button_vlong button_vlong3 right">
								<input type="reset" value="Wyczyść dane">
								</div></form>
								<br>
								<p>* - Po akceptacji formularza przez admininistartora otrzymasz powiadomienie</p>
							</h4>
						</td>
						<td>
							<h3>W razie problemów w zakładce kontakt są zamieszczone dane kontaktowe do naszych doradców gotowych w każdej chwili udzielić niezbędnych informacji.</h3>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
