<div>
		<h3>Dzisiaj jest:
      <script>function formattime(dt) {
        var rok = dt.getFullYear();
        var miesiac = dt.getMonth() + 1;
        var dzien = dt.getDate();
        var dzientygodnia = dt.getDay();
        text = dzien + "." + miesiac + "." + rok;
        return text;}

        var dt = new Date();
        document.write(formattime(dt));
      </script>
		</h3>
		<h3>Tabela terminów:</h3>
		<table>
			<tbody>
				<tr>
					<td>
						<h4>Lp.</h4>
					</td>
					<td>
						<h4>Data wydarzenia</h4>
					</td>
					<td>
						<h4>Lokalizacja</h4>
					</td>
					<td>
						<h4>Dyscyplina</h4>
					</td>
					<td>
						<h4>Liczba miejsc</h4>
					</td>
				</tr>
				<tr>
					<td>
						<h4>1</h4>
					</td>
					<td>
						<h4>30.07.2022 r.</h4>
					<h4>Godz. 15</h4>
					</td>
					<td>
						<h4>Al. Politechniki 8</h4>
						<h4>Łódź</h4>
					</td>
					<td>
						<h4>Piłka nożna</h4>
					</td>
					<td>
						<h4>100</h4>
					</td>
				</tr>
				<tr>
					<td>
						<h4>2</h4>
					</td>
					<td>
						<h4>10.08.2022 r.</h4>
						<h4>Godz. 20</h4>
					</td>
					<td>
						<h4>Al. Politechniki 4</h4>
						<h4>Łódź</h4>
					</td>
					<td>
						<h4>Maraton</h4>
					</td>
					<td>
						<h4>1000</h4>
					</td>
				</tr>
				<tr>
					<td>
						<h4>3</h4>
					</td>
					<td>
						<h4>20.09.2022 r.</h4>
						<h4>Godz. 9</h4>
					</td>
					<td>
						<h4>Al. Politechniki 50</h4>
						<h4>Łódź</h4>
					</td>
					<td>
						<h4>Siatkówka</h4>
					</td>
					<td>
						<h4>60</h4>
					</td>
				</tr>
				<tr>
					<td>
						<h4>4</h4>
					</td>
					<td>
						<h4>30.09.2022 r.</h4>
						<h4>Godz. 11:30</h4>
					</td>
					<td>
						<h4>Al. Politechniki 30</h4>
						<h4>Łódź</h4>
					</td>
					<td>
						<h4>Koszykówka 3x3</h4>
					</td>
					<td>
						<h4>30</h4>
					</td>
				</tr>
				<tr>
					<td>
						<h4>5</h4>
					</td>
					<td>
						<h4>20.10.2022 r.</h4>
						<h4>Godz. 10</h4>
					</td>
					<td>
						<h4>Al. Politechniki 20</h4>
						<h4>Łódź</h4>
					</td>
					<td>
						<h4>Lekkoatletyka</h4>
					</td>
					<td>
						<h4>200</h4>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<div></div>
