
	<div>
		<table border="1" style="border-collapse: collapse; width: 99.5%;" height="600">
			<tbody>
				<tr>
					<td style="background-color: blue;">
						<p><img src="http://uploads.wszpwn.com.pl/uploads/oryginal/3/6/b942a3cb_shutterstock_639227380_Dina_Wi.jpg?date=1523015213" width="350" height="253" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/All_sports_drawing.svg/1200px-All_sports_drawing.svg.png" width="350" height="211" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
						<p></p>
					</td>
					<td style="width: 33.3333%;">
						<h2 style="text-align: center;"><strong>Lekarz doradca:</strong></h2>
						<h4 style="text-align: center;">Jan Kowalski</h4>
						<h4 style="text-align: center;">nr telefonu: 123 456 789</h4>
						<h2 style="text-align: center;"><strong>Konsultant ds. sportu:</strong></h2>
						<h4 style="text-align: center;">Adam Nowak</h4>
						<h4 style="text-align: center;">nr telefonu: 123 567 239</h4>
						<h2 style="text-align: center;"><strong>Gł&oacute;wna infolinia:</strong></h2>
						<h4 style="text-align: center;">nr telefonu: 456 782 395</h4>
					</td>
					<td style="width: 33.3333%; background-color: blue;">
						<h3 style="color: white; text-align: center;">W razie problem&oacute;w w zakładce kontakt są zamieszczone dane kontaktowe do naszych doradc&oacute;w gotowych w każdej chwili udzielić niezbędnych informacji.</h3>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
